*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(192, 220, 244);
    flex-direction:column;
}

.heading{

    text-align: center;
    border-style:solid;
    border-color:black;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color:beige;
   
}

#profilepic{
    display:inline-block;
    height: 100px;
    width: 100px;
    background-image:url(Bindu.jpg) ;
    background-size:cover;
    border-radius: 50%;
    position:absolute;
    right:670px;
    top:10px;
    border-width:2px;
    border-style: solid;
    border-color: beige;
  

}
#bio{
    border-style:solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color:beige;

}

#skillset{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style:solid;
    border-width:2px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color:beige;
    height:100px;

}

#skill{
   width: 200px;
   height: 50px;
   background-color: aqua;
   border-style:solid;
   border-color:beige;
   border-radius:30%;
   text-align: center;
   font-weight: bold;
   
}
 .class{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border-style:solid;
    border-width:2px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color:beige; */
    height:200px;
    
 }

 #project{
    width: 300px;
    height: 300px;
    text-align: center;


 }

